# Address ของ Smart Contract ที่ Deploy บน Sepolia จาก Remix IDE
NEXT_PUBLIC_CONTRACT_ADDRESS=0x9A94Fdc6bBd09F48e6efece5B2BD74F853DF6d01
VITE_CONTRACT_ADDRESS=0x9A94Fdc6bBd09F48e6efece5B2BD74F853DF6d01
